@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-body: Dm Sans Variable, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-display: Poppins, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --text-3xs: 0.75rem;
  --text-2xs: 0.875rem;
  --text-xs: 1rem;
  --text-sm: 1.125rem;
  --text-md: 1.25rem;
  --text-lg: 1.375rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.5rem;
  --text-5xl: 3rem;
  --text-6xl: 3.25rem;
  --text-7xl: 4rem;

  --color-dark-1: #050006;
  --color-dark-2: #240727;

  --color-offwhite: #f8f6f8;
  --color-indigo: #4e30c5;
  --color-purple: #743089;
  --color-yellow: #f4ca51;
  --color-lavander: #edeaf9;

  --list-style-image-star: url('/icons/star.svg');

  --radius-xs: 0.125rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);

  --spacing-3_5xl: 50rem;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  html {
    scroll-behavior: smooth;
    @apply font-body text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    @apply font-display leading-tight;
  }
}

@layer base {
  h1 {
    @apply text-5xl xl:text-6xl font-bold;
  }

  h2 {
    @apply text-4xl xl:text-5xl;
  }

  h3 {
    @apply text-3xl xl:text-4xl;
  }
  :root {
    --radius: 0.5rem
  }
}
