---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../sanity/lib/load-query";
import BaseLayout from "../layouts/BaseLayout.astro";
import { pageQuery, pagesQuery } from "../sanity/lib/queries";
import RenderSections from "@components/RenderSections.astro";

export async function getStaticPaths() {
  const { data: pages } = await loadQuery<SanityDocument[]>({
    query: pagesQuery,
  });

  return pages.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: page } = await loadQuery<SanityDocument>({
  query: pageQuery,
  params,
});

console.log(page);
if (!page) return Astro.redirect("/404");
export const prerender = true;
---

<BaseLayout title={page?.title}>
  <h1>A post about {page?.title}</h1>
  <RenderSections sections={page?.content} />
</BaseLayout>
)

