---
import { urlForImage } from "@sanity/lib/urlForImage";
import { Image } from "astro:assets";
import { compareAsc, format } from "date-fns";

const { card, variation } = Astro.props;
const { title, shortDescription, image, date } = card;
const imageUrl = image ? urlForImage(image?.asset)?.url() : null;
---

<article class="max-w-96 rounded-sm overflow-clip">
  {
    imageUrl && (
      <div class="h-[200px] w-full bg-dark-2 relative">
        <Image
          src={imageUrl}
          alt={title ? title : ""}
          height={200}
          width={364}
          class="object-cover w-full h-full"
        />
        <div class="absolute right-0 bottom-0 py-1 px-2 bg-indigo text-white font-bold">
          {format(date, "MMMM")}{" "}
          <span class="text-yellow">{format(date, "dd")} </span>{" "}
          {format(date, "yyyy")}
        </div>
      </div>
    )
  }
  <div
    class:list={[
      "py-6 px-4",
      variation === "lavander" && "bg-lavander",
      variation === "white" && "bg-white text-dark-1",
    ]}
  >
    <h3 class="text-lg font-bold mb-3">{title}</h3>
    <span>{shortDescription}</span>
  </div>
</article>
