---
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "@/components/ui/accordion";
const { faqs } = Astro.props;
---

<div>
  <Accordion type="single" collapsible>
    {
      faqs.map((faq) => {
        return (
          <AccordionItem value={faq.question} key={faq._id}>
            <AccordionTrigger>{faq.question}</AccordionTrigger>
            <AccordionContent>{faq.answer}</AccordionContent>
          </AccordionItem>
        );
      })
    }
  </Accordion>
</div>
