---
import { Image } from "astro:assets";
import { urlForImage } from "@sanity/lib/urlForImage";
import PortableTextTitle from "../atoms/PortableTextTitle.astro";

const { card, cardVariation } = Astro.props;

const { title, titleSize, cardContent, cardIcon } = card;

const iconUrl = urlForImage(cardIcon)?.url();
---

<article
    class:list={[
        "mt-10 relative px-5 py-10 rounded-sm flex flex-col justify-between",
        cardVariation === "white" && "bg-offwhite",
        cardVariation === "offwhite" && "bg-white",
        cardVariation === "lavander" && "bg-white",
        cardVariation === "gradient" && "bg-white",
        cardVariation === "dark" && "bg-white text-dark-1",
    ]}
>
    <Image
        src={iconUrl}
        alt=""
        class="w-18 h-18 absolute -top-10 right-8"
        width={72}
        height={72}
    />
    <div>
        <h3
            class:list={[
                "text-display-lg font-display font-semibold mb-4 text-indigo",
                titleSize === "sm" && "text-display-md",
                titleSize === "md" && "text-display-lg",
            ]}
        >
            <PortableTextTitle portableText={title} />
        </h3>
        <div class:list={["text-lg mb-10"]}>
            <PortableTextTitle portableText={cardContent} />
        </div>
    </div>

    <div class="w-full h-px bg-indigo mt-auto"></div>
</article>
