---
import Image from "astro/components/Image.astro";
import { urlForImage } from "@sanity/lib/urlForImage";
import PortableText from "@components/atoms/PortableText.astro";
const { card, variation } = Astro.props;
const { quote, logo, company, name } = card;

const logoUrl = urlForImage(logo).url();
---

<div
  class:list={[
    "py-8 px-6 text-center flex flex-col text-dark-2",
    variation === "light" && "bg-offwhite ",
    variation === "dark" && "bg-white ",
  ]}
>
  <div class="flex justify-center items-center py-2 px-1 mb-6">
    <Image src={logoUrl} inferSize alt={company ? company : ""} />
  </div>
  <div class="mb-4 grow">
    <PortableText portableText={quote} />
  </div>

  <p class="text-sm text-indigo font-bold">{company}</p>
  <p class="text-sm text-dark-2 font-bold">{name}</p>
</div>
