---
interface Props {
  title: string;
  description?: string;
  ogImageUrl?: string;
}

import "../styles/tailwind.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
// Supports weights 100-900
import "@fontsource-variable/dm-sans";

import Header from "@globals/Header.astro";
import Footer from "@globals/Footer.astro";
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "@sanity/lib/load-query";
import { settingsQuery } from "@sanity/lib/queries";
import { urlForImage } from "@/sanity/lib/urlForImage";

const { data: settings } = await loadQuery<SanityDocument>({
  query: settingsQuery,
});

const footerData = {
  footerText: settings?.footerText,
  footerHowToEnter: settings?.footerHowToEnter,
  footerEvents: settings?.footerEvents,
  footerResources: settings?.footerResources,
  footerAbout: settings?.footerAbout,
  footerContact: settings?.footerContact,
  socialLinks: settings?.socialLinks,
  footerLegal: settings?.footerLegal,
};

const { title, description = "", ogImageUrl = "" } = Astro.props;

const defaultTitle = settings?.seo?.title;
const defaultDescription = settings?.seo?.description;
const ogImageDefaultUrl = settings?.seo?.ogImage
  ? urlForImage(settings?.seo?.ogImage).width(1200).height(630).url()
  : "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description === "" ? defaultDescription : description}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:title" content={title === "" ? defaultTitle : title} />
    <meta
      property="og:description"
      content={description === "" ? defaultDescription : description}
    />
    <meta
      property="og:image"
      content={ogImageUrl === "" ? ogImageDefaultUrl : ogImageUrl}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title === "" ? defaultTitle : title}</title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://wcopa.vercel.app/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="wcopa.vercel.app" />
    <meta property="twitter:url" content="https://wcopa.vercel.app/" />
    <meta name="twitter:title" content={title === "" ? defaultTitle : title} />
    <meta
      name="twitter:description"
      content={description === "" ? defaultDescription : description}
    />
    <meta
      name="twitter:image"
      content={ogImageUrl === "" ? ogImageDefaultUrl : ogImageUrl}
    />
    <script
      type="text/javascript"
      src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head>
  <body class="">
    <Header />
    <main class="min-h-[80vh]">
      <slot />
    </main>
    <Footer footerData={footerData} />
  </body>
</html>
<script is:inline type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: "en" }, // Set your website's default language here
      "google_translate_element",
    );
  }
  document.addEventListener("DOMContentLoaded", googleTranslateElementInit());
</script>

<script>
  import { initGlobalAnimations } from "@/sections/animations/sectionAnimations";

  // Initialize global animations
  document.addEventListener("DOMContentLoaded", () => {
    initGlobalAnimations();
  });
</script>
