---
import Container from "./Container.astro";
---

<header class="bg-green-500 py-6">
  <Container
    ><a href="/">Home</a>
    <a href="/example">Example</a>
    <a href="/example2">Example 2</a>
    <a href="/qa">QA</a></Container
  >
</header>
