---
import Container from "./Container.astro";
import { Image } from "astro:assets";
import bg from "@assets/newsletter-bg.png";
import decor from "@assets/newsletter-decoration.png";
---

<section id="newsletter" class="py-10 pb-64 bg-indigo relative text-white">
  <Image
    src={bg}
    alt=""
    quality={100}
    class="absolute w-full h-full inset-0 object-cover object-bottom/20"
  />
  <Container classes="grid sm:grid-cols-2 gap-8 items-center relative z-10">
    <div>
      <span
        class="block font-display font-bold leading-none mb-1 text-display-lg"
        >Join our newsletter</span
      >
      <span class="block text-sm font-medium"
        >Stay connected with WCOPA through our monthly newsletter.</span
      >
    </div>
    <div class="bg-blue-700 w-full h-40">Form</div>
  </Container>
  <Image
    src={decor}
    alt=""
    quality={100}
    class="w-full max-h-30 absolute bottom-0 left-0 z-10"
  />
</section>
