---
import Container from "./Container.astro";
---

<section class="py-20 bg-green-600">
  <Container classes="grid sm:grid-cols-2 items-center">
    <div>Join our newsletter</div>
    <div class="bg-blue-700 w-full h-40">Form</div>
  </Container>
</section>
